@media screen and (max-width:993px) {
    header div.container {
        flex-direction: column;
        gap: 1.5rem;
    }

    header ul.menu {
        gap: 1.5rem;
    }

    .container{
        padding: 0rem 7rem;
    }

    /* banner start  */

    .banner-content {
        width: 75vw;
        margin: auto;
    }

    /* intro start  */

    .intro > .container{
        padding: 0rem 7rem;   
    }
}



@media screen and (max-width:769px) {
    .container{
        padding: 0rem 4rem;
    }

    /* banner start  */

    .banner-title{
        font-size: 2.5rem;
        padding-top: 1rem;
    }

    /* intro start  */

    .intro > .d-f{
        flex-direction: column;
        gap: 3rem;
    }


    .intro-left{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        width: 100%;
    }

    .intro-right{
        width: 100%;
        text-align: center;
    }
}




@media screen and (max-width:577px) {
    .container{
        padding: 0rem 2rem;
    } 

    .section-title{
        color: #131313;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .intro > .container{
        padding: 0rem 2rem;   
    }
}



@media screen and (max-width:380px) {
    .banner-title{
        font-size: 2rem;
    }
}