/* default css start  */
* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.container {
    padding: 0px 10rem;
}

.d-f {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accent-bg {
    background: rgba(255, 144, 14, 0.10);
}

.t-c {
    text-align: center;
}

.t-l {
    text-align: left;
}

.t-r {
    text-align: right;
}

span.color {
    color: #FF900E;
}

.intro-lite{
    font-weight: 500;
    color: #727272;
}

.default-button {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 1.5rem;
    border: none;
}

.section-title {
    color: #131313;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logo{
    color: #131313;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.paragraph {
    color: #727272;
    /* text-align: center; */
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 400;
}

.txt {
    color: #424242;
    /* text-align: center; */
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 500;
}

.heading {
    color: #131313;
    font-size: 1.15rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

section{
    padding: 3.5rem 0rem;
}
/* default css end  */

/* header css start  */
header {
    padding: 2rem 0rem;
}

header ul.menu {
    gap: 3.125rem;
}

header h2.section-title {
    cursor: pointer;
}

header li.menu-item {
    list-style: none;
    cursor: pointer;
}

/* header css end */

/* banner css start  */
.banner-section{
    padding-bottom: 2rem;
}

.banner-title {
    color: #131313;
    font-size: 3.1rem;
    font-weight: 700;
    padding-top: 3rem;
}

.banner-content {
    width: 48vw;
    margin: auto;
}

.banner-content .paragraph{
    padding: 2rem 0rem;
}

.banner-content > .default-button{
    margin-bottom: 3rem;
}

.banner-section img {
    width: 100%;
}
/* banner css end  */

/* intro css start  */
.intro > .container{
    padding: 0rem 13rem;   
}

.intro-left{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 53%;
}

.intro-left img{
    width: 100%;
}

.intro-right{
    width: 41%;
    text-align: left;
}

.intro-right > .paragraph{
    padding: 2rem 0rem;
}
/* intro css end  */