/* default css start  */
* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.container {
    padding: 0px 200px;
}

.d-g{
    display: grid;
}

.d-f {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accent-bg{
    background: rgba(255, 144, 14, 0.10);
}

.t-c {
    text-align: center;
}

.t-l {
    text-align: left;
}

.t-r {
    text-align: right;
}

span.color{
    color: #FF900E;
}

.section-title {
    color: #131313;
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.paragraph {
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.txt {
    color: #424242;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.heading {
    color: #131313;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/* default css end  */

/* header css start  */
header{
    padding: 25px 0px;
}

header li.menu-item{
    list-style: none;
    margin-left: 50px;
    cursor: pointer;
}
/* header css end */